<h1>Some Stats from BechdelTest.com</h1>
<ul>
  <li>Movies w/ ratings: <%= @movies_passed %></li>
  <li>Passed 1 test: <%= @passed_1 %></li>
  <li>Passed 2 tests: <%= @passed_2 %></li>
  <li>Passed all tests: <%= @passed_3 %></li>
</ul>
<hr>

<h1>How many tests did it pass?</h1>
<%= pie_chart ({"Passes 1 test" => @passed_1, "Passes 2 tests" => @passed_2, "Passes 3 tests" => @passed_3}) %>

<h1>Countries</h1>
<%= geo_chart Movie.group(:country_produced).count %>
