<h2 class="sub-header">
  <%= image_tag "#{@movie.thumbnail_url}", alt: "Movie poster image", class: "movie-poster-image" %>
  ABOUT <%= @movie.title.upcase %>
</h1>
<br>

<ul>
  <li>Year: <%= @movie.year %></li>
  <li>Language: <%= @movie.language %></li>
  <li>Country produced: <%= @movie.country_produced %></li>
  <% if !@cannes_info.nil? %>
  <li>This film was selected for the
    <a href="<%= @cannes_info.cannes_url %>" target="_blank">
    Cannes Film Festival</a>
  </li>
  <% end %>
</ul>

<br>
<h4 class="sub-header">SUMMARY</h4>
<p><%= @movie.summary %></p>
<% if !@cannes_info.nil? %>
  <p>
    Read more about this movie on the
    <a href="<%= @cannes_info.cannes_url %>" target="_blank">
      Cannes Film Festival</a>, website.
  </p>
<% end %>

<hr>
<h2>What does BechdelTest.com say?</h2>
<% if !@bechdel_info.nil? %>
  <ul>
    <li><%= @bechdel_info.passing_tests %></li>
    <li><%= @bechdel_info.tests_explanation %></li>
  </ul>
  <p>Read more on the <%= link_to "Bechdel Test website", @bechdel_info.bechdel_url, target: "_blank" %>.</p>
<% else %>
  <p>Unfortunately bechdeltest.com doesn't have ratings for this movie. Please vote or comment below!</p>
<% end %>
<hr>

<div class="container">
  <div class="element">
    <h2>Does it Pass?</h2><br>
    <% if user_signed_in? && !@user_voted %>
      <%= button_to "Pass", movie_votes_path(@movie, params.merge(vote: {vote: 1})), action: :create, method: :post %>
      <%= button_to "Not Pass", movie_votes_path(@movie, params.merge(vote: {vote: -1})), action: :create, method: :post %>
    <% elsif @user_voted %>
      <h5><i>Thanks for already voting on this movie!</i></h5>
    <% elsif !user_signed_in? %>
      <p><i><%= link_to 'Please sign in to vote.', new_user_session_path, class: "sign-up" %></i></p>
    <% end %>
  </div>
  <div class="element">
    <h2>What's the Bechdel Test Again?</h2>
    <ol>
      <li>The movie has at least 2 named women</li>
      <li>Who talk to each other</li>
      <li>About something besides a man</li>
    </ol>
  </div>
</div>

<% if @movie.up_votes == 0 && @movie.down_votes == 0 %>
  <br>
  <p>No one has voted yet, please vote!</p>
<% else %>
  <%= bar_chart({ Pass: @up_votes, Not: @down_votes}) %>
<% end %>

<hr>
<h2>Leave a Comment</h2>

<% if user_signed_in? %>
  <%= simple_form_for([@movie, @comment]) do |f| %>
    <% if @comment.errors.messages.present? %>
      <div class="errors-div">
        <p>I'm sorry, your comment couldn't be saved because:</p>
        <ul>
          <% @comment.errors.messages.each do |field, error| %>
            <% if field.to_s == "movie_id" %>
              <li>Users can only submit 1 comment per movie.</li>
            <% else %>
              <li><%= field.capitalize %> <%= error[0] %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.input_field :body, input_html: { id: "comment_body"} %>
    <%= f.button :submit, "Submit" %>
  <% end %>
<% else %>
  <p>Sign in to leave a comment!</p>
<% end %>

<% if !@movie.comments.nil? %>
  <% @movie.comments.each do |comment| %>
    <div class="comment">
      <div class="comment-image">
        <% if !comment.user.avatar_url.nil? %>
          <%= image_tag comment.user.avatar_url %>
        <% end %>
      </div>
      <div class="comment-content">
        <h1><%= comment.user.username %></h1>
        <p><%= comment.body %></p>
        <p class="comment-detail">Created on <%= comment.created_at.strftime("%B %d, %Y") %></p>
      </div>
    </div>
  <% end %>
<% end %>
