<h1>Info about <%= @movie.title %></h1>
<br>

<ul>
  <li>Year: <%= @movie.year %></li>
  <li>Language: <%= @movie.language %></li>
  <li>Country produced: <%= @movie.country_produced %></li>
</ul>

<br>
<h4>Summary</h4>
<p><%= @movie.summary %></p>

<br>
<% if user_signed_in? && !@user_voted %>
  <h4>Does this movie pass the Bechdel Test?</h4>
  <%= button_to "Pass", movie_vote_path([@movie, @vote], params.merge(vote: 1)), action: :update, method: :patch %>
  <%= button_to "Not Pass", movie_vote_path([@movie, @vote], params.merge(vote: -1)), action: :update, method: :patch %>
<% elsif @user_voted %>
  <h5><i>Thanks for already voting on this movie!</i></h5>
<% elsif !user_signed_in? %>
  <h5><i>Please sign in to vote.</i></h5>
<% end %>

<% if @movie.up_votes == 0 && @movie.down_votes == 0 %>
  <br>
  <p>No one has voted yet, please vote!</p>
<% else %>
  <%= bar_chart({ Pass: @movie.up_votes, Not: @movie.down_votes}) %>
<% end %>
