<h1>Info about <%= @movie.title %></h1>
<br>

<ul>
  <li>Year: <%= @movie.year %></li>
  <li>Language: <%= @movie.language %></li>
  <li>Country produced: <%= @movie.country_produced %></li>
</ul>

<br>
<h4>Summary</h4>
<p><%= @movie.summary %></p>

<br>
<% if user_signed_in? %>
  <h4>Does this movie pass the Bechdel Test?</h4>
  <%= button_to "Pass", movie_vote_path([@movie, @vote], params.merge(vote: 1)), action: :update, method: :patch %>
  <%= button_to "Not Pass", movie_vote_path([@movie, @vote], params.merge(vote: -1)), action: :update, method: :patch %>
<% else %>
  <h5><i>Please sign in to vote.</i></h5>
<% end %>
