<h1 style="margin-top:0px; margin-bottom: 5px;"><%= @title %></h1>

<div class="cards">

<% if !@categories.nil? %>

  <% @categories.each do |category| %>
    <div class="card" style="height: 240px;">
      <div class="card-image">

      </div>
      <div class="card-header">
        <h5 class="headers-refills-font"><%= link_to category.movie.title, movie_path(category.movie) %><br>
        <%= category.movie.year %></h5>
      </div>
      <div class="card-copy">
        <p>
          <span style="float:left; padding-right:15px;">
            <%= image_tag "#{category.movie.thumbnail_url}", alt: "Movie poster image", width: 54 %>
          </span>
          <%= truncate category.movie.summary, length: 140, separator: ' ' %>
        </p>
      </div>
      <div class="card-stats" style="position: absolute; bottom:0;">
        <ul>
          <li><center><%= category.movie.country_produced %></center></li>
        </ul>
      </div>
    </div>
  <% end %>
<% else %>
  <p>Unfortunately, there are no movies!</p>
<% end %>
</div>
