<header class="navigation">
  <div class="menu-wrapper">
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu" style="margin-left: 20px;">
        <li class="nav-link" style="color:white; font-weight: 800;">
          <%= link_to "Bechdel Test", bechdel_index_path, onclick: "javascript:void(0)" %>
        </li>
        <li class="nav-link">
          <%= link_to "Analytics", analytics_path, onclick: "javascript:void(0)" %>
        </li>
        <li class="nav-link more">
          <%= link_to "Movies", movies_path, onclick: "javascript:void(0)" %>
          <ul class="submenu submenu-adjustments">
            <li><%= link_to "Bechdel Test Ratings", movies_path(sort_by: :bechdel) %></li>
            <li><%= link_to "Box Office", movies_path(sort_by: :box_office) %></li>
            <li><%= link_to "Top Rentals", movies_path(sort_by: :rentals) %></li>
            <li><%= link_to "Current DVD Releases", movies_path(sort_by: :current_release) %></li>
            <li><%= link_to "Cannes Film Festival", movies_path(sort_by: :Cannes) %></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
          <%= form_tag(movies_path, method: "get", type: "search") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Happy" %>
            <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="">
          </button>
          <% end %>
        </div>
      </div>
      <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: "sign-up" %>
      <% elsif current_user.nil? %>
        <%= link_to 'Register', new_user_registration_path, class: "sign-up" %>
        <%= link_to 'Login', new_user_session_path, class: "sign-up" %>
      <% end %>
    </div>
  </div>
</header>

<script>
  $(function() {
    var menu = $('#navigation-menu');
    var menuToggle = $('#js-mobile-menu');
    var signUp = $('.sign-up');

    $(menuToggle).on('click', function(e) {
      e.preventDefault();
      menu.slideToggle(function(){
        if(menu.is(':hidden')) {
          menu.removeAttr('style');
        }
      });
    });

    // underline under the active nav item
    $(".nav .nav-link").click(function() {
      $(".nav .nav-link").each(function() {
        $(this).removeClass("active-nav-item");
      });
      $(this).addClass("active-nav-item");
      $(".nav .more").removeClass("active-nav-item");
    });
  });
</script>
