<!DOCTYPE html>
<html>
<head>
  <title>BechdelTest</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<script>
  $(function() {
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  });
  </script>

</head>
<body>

<h1><%= link_to "The Bechdel Test", root_url(sort_by: nil), {class: "header-title"} %></h1>

<%= render partial: "refills/navigation" %>

<div class="ui-widget">
  <label for="tags">Tags: </label>
  <input id="tags">
</div>

<% if flash.present? %>
  <h2 style="color: purple;font-style: italic;">
    <%= flash[:notice] %>
  </h2>
<% end %>
<br>

<%= yield %>

<footer class="footer-2 footer-styles">
  <center>
    <p>Created by Jacinda Zhong | Launch Academy Breakable Toy Project | July 2014</p>
  </center>
</footer>

</body>
</html>
