<!DOCTYPE html>
<html>
<head>
  <title>BechdelTest</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 class="header-title">The Bechdel Test</h1>

<%= render partial: "refills/navigation" %>

<% if flash.present? %>
  <h2 style="color: purple;font-style: italic;">
    <%= flash[:notice] %>
  </h2>
<% end %>
<br>

<%= yield %>

<footer class="footer-2 footer-styles">
  <center>
    <p>Created by Jacinda Zhong | Launch Academy Breakable Toy Project | July 2014</p>
  </center>
</footer>

</body>
</html>
