<!DOCTYPE html>
<html>
<head>
  <title>BechdelTest</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h2 id="header-title">The Bechdel Test</h2>

<%= render partial: "refills/navigation" %>
<br>
<h4 style="color:purple; font-style: italic;"><%= notice %></h4>
<br>

<%= yield %>

</body>
</html>
