<!DOCTYPE html>
<html>
<head>
  <title>BechdelTest</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
  <%= csrf_meta_tags %>

</head>
<body>

<h1><%= link_to "The Bechdel Test", root_url(sort_by: nil), {class: "header-title"} %></h1>

<%= render partial: "refills/navigation" %>

<% if flash.present? %>
  <h2 style="color: purple;font-style: italic;">
    <%= flash[:notice] %>
  </h2>
<% end %>
<br>

<%= yield %>

<footer class="footer-2 footer-styles">
  <center>
    <p>Created by Jacinda Zhong | Launch Academy Breakable Toy Project | July 2014</p>
  </center>
</footer>

</body>
</html>
