<!DOCTYPE html>
<html>
<head>
  <title>BechdelTest</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav-header search-bar">
  <logo>
    <h1 class="header-title">The Bechdel Test</h1>
  </logo>
  <searchbar>

    <% if user_signed_in? %>
      <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: "sign-up" %>
    <% elsif current_user.nil? %>
      <%= link_to 'Register', new_user_registration_path, class: "sign-up" %>
      <%= link_to 'Login', new_user_session_path, class: "sign-up" %>
    <% end %>
  </searchbar>
</div>

<%= render partial: "refills/navigation" %>
<br>

<% if flash.present? %>
  <h2 style="color: purple;font-style: italic;">
    <%= flash[:notice] %>
  </h2>
<% end %>
<br>

<%= yield %>

<footer class="footer-2">
  <center>
    <p>Created by Jacinda Zhong | Launch Academy Week 8 Systems Check | July 2014</p>
  </center>
</footer>

</body>
</html>
