<!DOCTYPE html>
<html>
<head>
  <title>BechdelTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h3><%= notice %></h3>

<% if user_signed_in? %>
  <p>Hello <%= current_user %>, you are signed in.</p>
<% else %>
  <p>You are not signed in.</p>
<% end %>

<%= yield %>

</body>
</html>
